@import 'tailwindcss';

@font-face {
  font-family: 'NanumHuman';

  src: url('/src/assets/fonts/NanumHumanRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-display: 'NanumHuman', 'sans-serif';

  --color-primary: var(--primary-color);
  --color-foreground: var(--foreground-color);
  --color-muted: var(--muted-color);
  --color-background: var(--background--color);
  --color-primary-border: var(--primary-border);

  --color-primary-gray: var(--primary-border);
}

@layer base {
  html,
  body {
    /* 스크롤 시 튕김 현상 방지 및 기본 폰트 설정 */
    @apply m-0 p-0 overflow-x-hidden;
    height: 100%;
  }

  /* 폰트 설정 (원하는 폰트가 있다면) */
  body {
    font-family:
      'NanumHuman',
      -apple-system,
      sans-serif;
  }
}

:root {
  --primary-color: #ea4c89;
  --foreground-color: #333333;
  --muted-color: #9ba5a8;
  --background--color: #fbfbfb;
  --primary-border: #e5e7eb;
}

.dark-theme {
  --primary-color: #ea4c89;
  --primary-border: #e5e7eb;
  --secondary-color: rgb(84, 76, 102);
  --point-color: rgb(240, 255, 72);
  --text-color: white;
}

body {
  transition:
    background-color 0.3s,
    color 0.3s; /* 부드러운 전환 효과 */
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db; /* gray-300 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* gray-400 */
}

button {
  cursor: pointer;
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

/*   <input class="accent-pink-500" type="checkbox" checked />
 */
input[type='checkbox'] {
  /* 체크되었을 때의 강조 색상 변경 */
  accent-color: var(--point-color); /* 빨간 계열 */
}
